* { padding:0;
  margin:0;
}

a:link {color:#666;}
a:visited {color:#666;}
a:hover {color:#888;}

.nav {
  font-family: georgia, serif, times, arial;
  position: fixed; 
  background:transparent;
  text-align: right;
  height: 100vh;
  width: 275px; 
  margin-top: 0px;
  font-size: 12px;
  margin-left: 0px; 
  color: #666;
}

#name {
  margin-top: 5%;
}

#intro {
  width: 100%;
  display: inline-flex;
}

#headshot {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('./assets/jfung.png');
  background-size: 110px;
  background-position: center;
  border-radius: 100px;
  right: 0;
  margin: 5%;
}

.content {
  width: 800px;
  margin-left: 300px;
  font-family: georgia, serif, times, arial;
  text-align: justify;
  margin-bottom: 0px;
}